.flex-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.repo-card {
    flex: 0 0 300px;
    /* min-width: 200px; */
    margin: 1rem;
    text-align: center;
}

/* @media (max-width: 600px) {
  .flex-area {
    justify-content: space-around;
  }
} */